spring:
  application:
    name: config-server
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          search-locations: optional:classpath:/config
management:
  endpoints:
    web:
      exposure:
        include: '*'
  health:
    liveness-state:
      enabled: true
    readiness-state:
      enabled: true
  endpoint:
    health:
      probes:
        enabled: true
#        server:
#          git:
#            uri: https://github.com/duongbach202156/config-server.git
server:
  port: 8071
